.navbar-selected{
    background-color: rgb(123, 165, 242);
    color: #000;

}

.componet-border{
    border-left: 1px solid rgb(95, 141, 222);
}

.navbar-component{
    padding: 1px 2px;
}

.header{
    background: rgb(148, 182, 245) !important;
    border-bottom: 1px solid rgb(95, 141, 222);
}

.Brand{
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.text{
    color: white;
    font-weight: bold;
}